*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
}
body {
  background-color: #f0f0f0; /* Couleur de fond de votre choix */
}
.sidebar{
  background: #000;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}

.panel-bg-custom::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 600px; /* Largeur spécifique de l'image de fond */
  height: 100%; /* Hauteur complète du Panel */
  background-image: url('./assets/images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1; /* S'assure que l'image de fond est derrière le contenu du Panel */
}

.panel-bg-custom {
  position: relative; /* Nécessaire pour positionner correctement le pseudo-élément */
}
